<?php
$form = $this->form;
$form->setAttribute('action', $this->url('contactus'));
$form->get('email')->setAttributes(array(
    'class'=>'form-control', 
    'placeholder'=>'name@example.com'
    ));
$form->get('subject')->setAttributes(array(
    'class'=>'form-control', 
    'placeholder'=>'Temat'
    ));
$form->get('body')->setAttributes(array(
    'class'=>'form-control', 
    'rows'=>6, 
    'placeholder'=>'Treść wiadomości'
    ));
$form->get('submit')->setAttributes(array('class'=>'btn btn-primary'));
$form->prepare();

?>

<h1>Kontakt</h1>
<p>
    Skontaktuj się ze mną poprzez formularz.
</p>

<div class="row">
    <div class="col-md-6">
        <?php echo $this->form()->openTag($form); ?>
        
        <div class="form-group">
            <?php echo $this->formLabel($form->get('email')); ?>
            <?php echo $this->formElement($form->get('email')); ?>
            <?php echo $this->formElementErrors($form->get('email')); ?>                  
        </div>
        
        <div class="form-group">
            <?php echo $this->formLabel($form->get('subject')); ?>
            <?php echo $this->formElement($form->get('subject')); ?>
            <?php echo $this->formElementErrors($form->get('subject')); ?>                  
        </div>
        
        <div class="form-group">
            <?php echo $this->formLabel($form->get('body')); ?>
            <?php echo $this->formElement($form->get('body')); ?>
            <?php echo $this->formElementErrors($form->get('body')); ?>                  
        </div>
        
        <?php echo $this->formElement($form->get('submit')); ?>
        
        <?php echo $this->form()->closeTag(); ?>
    </div>    
</div>   