<h1>Zarządzaj postami</h1>

<p>
	<a class="btn btn-default" href="
    <?= $this->url('posts', ['action'=>'add']); ?>">
		Nowy post
	</a>
</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Tytuł</th>
			<th>Data utworzenia</th>
			<th>Status</th>
			<th>Akcje</th>
		</tr>
	</thead>
	<tbody>
	<?php foreach ($posts as $post): ?>

		<tr>
			<td><?= $this->escapeHtml($post->getId()); ?></td>
			<td>
				<a href="<?= $this->url('posts', ['action'=>'view', 'id'=>$post->getId()]); ?>">
					<?= $this->escapeHtml($post->getTitle()); ?>
				</a>
			</td>
			<td><?= $this->escapeHtml($post->getDateCreated()); ?></td>
			<td><?= $this->escapeHtml($postManager->getPostStatusAsString($post)); ?></td>
			<td>
				<a class="btn btn-info" href="<?= $this->url('posts',
					['action'=>'edit', 'id'=>$post->getId()]); ?>">
					<span class="glyphicon glyphicon-pencil" ></span> Edytuj
				</a>
				<a class="btn btn-danger" href="<?= $this->url('posts',
					['action'=>'delete', 'id'=>$post->getId()]); ?>">
					<span class="glyphicon glyphicon-remove"></span> Usuń
				</a>
			</td>
		</tr>

	<?php endforeach; ?>
	</tbody>

</table>
