<?php
$form = $this->form;
$form->get('title')->setAttributes([
	'class'=>'form-control',
	'placeholder'=>'Wpisz tytuł posta'
]);
$form->get('content')->setAttributes([
	'class'=>'form-control',
	'placeholder'=>'Wpisz treść posta',
	'rows'=>6
]);
$form->get('status')->setAttributes([
	'class'=>'form-control'
]);
$form->get('submit')->setAttributes(['class'=>'btn btn-primary']);
$form->get('submit')->setValue('Save');
$form->prepare();

?>

<h1>Edytuj post</h1>

<div class="row">
	<div class="col-md-6">
		<?= $this->form()->openTag($form); ?>

		<div class="form-group">
			<?= $this->formLabel($form->get('title')); ?>
			<?= $this->formElement($form->get('title')); ?>
			<?= $this->formElementErrors($form->get('title')); ?>
		</div>

		<div class="form-group">
			<?= $this->formLabel($form->get('content')); ?>
			<?= $this->formElement($form->get('content')); ?>
			<?= $this->formElementErrors($form->get('content')); ?>
		</div>

		<div class="form-group">
			<?= $this->formLabel($form->get('status')); ?>
			<?= $this->formElement($form->get('status')); ?>
			<?= $this->formElementErrors($form->get('status')); ?>
		</div>

		<?= $this->formElement($form->get('submit')); ?>

		<?= $this->form()->closeTag(); ?>
	</div>
</div>
