<h1>Aktualnosci</h1>

<div class="row">

    <div class="col-md-8">

		<?php foreach($posts as $post): ?>

            <h3>
                <a href="<?= $this->url('posts', ['action'=>'view', 'id'=>$post->getId()]); ?>">
					<?= $this->escapeHtml($post->getTitle()); ?>
                </a>
            </h3>

            <p>
                Dodany: <?= $this->escapeHtml(date('jS \of F Y', strtotime($post->getDateCreated()))); ?>
            </p>

            <p class="comments-header">
				<?= $this->escapeHtml($postManager->getCommentCountStr($post)); ?> |
                <a href="<?= $this->url('posts', ['action'=>'view', 'id'=>$post->getId()],
					['fragment'=>'comment']); ?>">
                    Dodaj nowy komentarz
                </a>
            </p>

            <p>
				<?= $this->escapeHtml($post->getContent()); ?>
            </p>

		<?php endforeach; ?>

	    <?= $this->paginationControl($posts,
		    'Sliding',
		    'application/partial/paginator',
		    ['route' => 'posts']); ?>

    </div>
</div>
