<?php
$form = $this->form;
$form->get('author')->setAttributes([
	'class'=>'form-control',
	'placeholder'=>'Autor'
]);
$form->get('comment')->setAttributes([
	'class'=>'form-control',
	'rows'=>6,
	'placeholder'=>'Treść'
]);
$form->get('submit')->setAttributes(['class'=>'btn btn-primary']);
$form->prepare();
?>

<a href="
    <?= $this->url('posts', ['action'=>'index']); ?>">
	&lt;&lt; Wróć do listy postów
</a>

<h1>
	<?= $this->escapeHtml($post->getTitle()); ?>
</h1>

<p class="comments-header">
	<?= $this->escapeHtml($postManager->getCommentCountStr($post)); ?> |
	<a href="#comment">
		Dodaj nowy komentarz
	</a>
</p>

<p>
	Dodany: <?= $this->escapeHtml(date('jS \of F Y', strtotime($post->getDateCreated()))); ?>
</p>

<p>
	<?= $this->escapeHtml($post->getContent()); ?>
</p>

<h3><?= $this->escapeHtml($postManager->getCommentCountStr($post)); ?></h3>

<?php foreach ($post->getComments() as $comment): ?>

	<hr>

	<p>
		<?= $this->escapeHtml($comment->getAuthor()) ?> on
		<?= $this->escapeHtml($comment->getDateCreated()); ?>
	</p>

	<p>
		<?= $this->escapeHtml($comment->getContent()); ?>
	</p>

<?php endforeach; ?>

<hr>

<a name="comment"></a>
<h3>Zostaw komentarz</h3>

<div class="row">
	<div class="col-md-8">
		<?= $this->form()->openTag($form); ?>

		<div class="form-group">
			<?= $this->formLabel($form->get('author')); ?>
			<?= $this->formElement($form->get('author')); ?>
			<?= $this->formElementErrors($form->get('author')); ?>
		</div>

		<div class="form-group">
			<?= $this->formLabel($form->get('comment')); ?>
			<?= $this->formElement($form->get('comment')); ?>
			<?= $this->formElementErrors($form->get('comment')); ?>
		</div>

		<?= $this->formElement($form->get('submit')); ?>

		<?= $this->form()->closeTag(); ?>
	</div>
</div>