<div class="row">
    <div class="col-xs-12" style="text-align:center;">
        <h1>
        Autostopowe podróże.
		</h1>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mauris ante, scelerisque vitae convallis quis, suscipit molestie tortor. In mollis lectus id nunc posuere, sed pulvinar est accumsan. Aliquam erat volutpat. Maecenas vestibulum faucibus quam, a accumsan libero porttitor in. Pellentesque sit amet maximus dolor, ac imperdiet felis. Suspendisse potenti. Praesent viverra ante elit. Donec rutrum consequat lorem, eget condimentum ex tincidunt eu.

		Phasellus placerat turpis et condimentum dictum. Maecenas rutrum dolor id convallis mollis. Pellentesque nec aliquam massa. In hac habitasse platea dictumst. Vivamus vehicula diam id pharetra aliquet. Curabitur scelerisque ante interdum auctor molestie. Nullam porta urna ut hendrerit ullamcorper. Sed diam dui, tincidunt sit amet nisi a, auctor tempus velit. Nunc vitae magna id magna elementum lobortis id consequat turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu odio ante. Vivamus blandit fermentum turpis eget luctus.
    </div>
 </div>
